<% layout("/layouts/boilerplate") %>

<div class="container mt-3">
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Listing Details</h3>
            
            <div class="card show-card listing-card col-7 border-0">
                <img src="<%= listing.image.url ? listing.image.url : 'https://images.unsplash.com/photo-1499793983690-e29da59ef1c2' %>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br>
                        <%= listing.description %><br>
                        &#8377;<%= listing.price.toLocaleString("en-IN") %><br>
                        <%= listing.location %><br>
                        <%= listing.country %><br>
                    </p>
                </div>
            </div>

            <div class="btns mt-3 d-flex">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 edit-btn">Edit</a>

                <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE" class="ms-3">
                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>